<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="static/style.css" type="text/css">
  </head>
  <body overflow="none">
      <!-- Header Ribbon Menu -->
      <div id="wrapper">
          <nav>
              <ul class="navbar">
                  <li><a href="/">Home</a></li>
                  <li><a href="/about" class="active">About</a></li>
              </ul>
          </nav>
      </div>
      <h3> CS467 Senior Capstone Project</h3>
      <p> TO DO </p>
  </body>
</html>