<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top-n Music Genre Prediction</title>
    <base href="/">
    <link rel="stylesheet" href="static/style.css" type="text/css">
  </head>
  <body overflow="none">
      <!-- Header Ribbon Menu -->
      <div id="wrapper">
          <nav>
              <ul class="navbar">
                  <li><a href="/" class="active">Home</a></li>
                  <li><a href="/about">About</a></li>
              </ul>
          </nav>
      </div>

    <div class="content">
        <h3>Top-n Music Classification</h3>
        <p>Upload a .mp3 or .wav file here. The maximum size accepted is 10 MB.</p>
        <p>We will predict the genre of your audiofile, and list the results from most to least likely</p>
        <img src="static/omega_staff.png" alt="Omega symbol with musical staff" width="500" height="333"></img>
        <div>
          <h3>Upload file:</h3>
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        </div>
        <div>
          <h3>This file has been uploaded:</h3>
          <ul>
              <li>
                <p> {{ fname }} </p>
              </li>
          </ul>
          <h3>Output from Lambda Function in AWS cloud:</h3>
          <ul>
              <li>
                <p>
                    {% for each in awslambda %}
                    {{ each }}
                    {% end for %}}
                </p>
              </li>
          </ul>
        </div>
    </div>
  </body>
</html>
