<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top-n Music Genre Prediction</title>
    <base href="/">
    <link rel="stylesheet" href="static/style.css" type="text/css">
  </head>
  <body overflow="none">
      <!-- Header Ribbon Menu -->
      <div id="wrapper">
          <nav>
              <ul class="navbar">
                  <li><a href="/" class="active">Home</a></li>
                  <li><a href="/about">About</a></li>
              </ul>
          </nav>
      </div>

    <div class="content">
        <h3>Top-n Music Classification</h3>
        <p>Upload a .mp3 or .wav file here. The maximum size accepted is 10 MB.</p>
        <p>We will predict the genre of your audio file, and list the top 3 genres predicted</p>
        <img src="static/omega_staff.png" alt="Omega symbol with musical staff" width="500" height="333"></img>
        <div>
          <h3>Upload file:</h3>
          <form method="POST" action="/upload" enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
          </form>
        </div>
        <div>
          <h3>This file has been uploaded:</h3>
          <ul>
                <p> {{ fname }} </p>
          </ul>
          <h3>Output from Lambda Function in AWS cloud:</h3>
                <p>
                    <table class="center">
                        <tr>
                            <th> Genre </th>
                            <th> Probability </th>
                        </tr>
                        <tr>
                            <td> {{ genre1 }}</td>
                            <td> {{ prob1 }}%</td>
                        </tr>
                        <tr>
                            <td> {{ genre2 }}</td>
                            <td> {{ prob2 }}%</td>
                        </tr>
                        <tr>
                            <td> {{ genre3 }}</td>
                            <td> {{ prob3 }}%</td>
                        </tr>



                    </table>
                </p>
        </div>
    </div>
  </body>
</html>
